.left{
    float: left;
    width: 21%;
    height: 88vh;
    padding: 10px;
    margin-top: 7px;
    background-color: #f1f1f1;
}

.right{
    float: right;
    width: 79%;
    height: 88vh;
    padding: 10px;
    margin-top: 7px;
    background-color: #7c5858;
}